<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>TrustPay</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>

<body>
    <section class="overall">
        <div class="logo-section">
            <img src="static/images/au png.jpg" class="card-img1" alt="...">
            <h1 class="top-head">TrustPay</h1>
            <img src="static/images/trust-removebg-preview.png" class="card-img2" alt="...">
        </div>
        <div class="main-bg">
            <div class="main-content">
                <a href="/lender-login" style="text-decoration: none;">
                    <div class="card2">
                        <div class="cards">
                            <img src="static/images/lend.jpg" class="card-img-top" style="border-radius:50% ;"
                                alt="...">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title" style="color: aqua; font-family: 'Poppins',sans-serif;">Lender Login
                            </h3>
                        </div>
                    </div>
                </a>
                <a href="/borrower-login" style="text-decoration: none;">
                    <div class="card2">

                        <div class="cards">
                            <img src="static/images/borrow.jpg" style="border-radius:50% ;" class="card-img-top"
                                alt="...">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title" style="color: aqua; font-family: 'Poppins',sans-serif;">
                                Borrower Login</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</body>
</html>